body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}

.slider {
  overflow: hidden;
  background: rgb(255, 255, 255);
}

.btn-go-to-staff {
  border: 2px solid rgb(10, 0, 155);
  background-color: rgba(255, 255, 255, 0);
  color: rgb(10, 0, 155);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.btn-go-to-staff:hover {
  background-color: rgb(10, 0, 155);
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px;
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.btn-go-to-student {
  border: 2px solid rgb(255, 145, 0);
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 145, 0);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.btn-go-to-student:hover {
  background-color: rgb(255, 145, 0);
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px;
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.go-to-welcom-right-content,
.go-to-welcom-left-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  position: absolute;
}
.go-to-welcom-right-content {
  justify-content: flex-end;
}
.go-to-welcom-left-content {
  justify-content: flex-start;
}

/* ผู้ใช่หมุนจอ */
@media only screen and (max-height: 398px) and (orientation: landscape) {
  .slider {
    width: 100vh;
    height: 100%;
  }
  .slides {
    width: 300vh;
    display: flex;
  }
  .slide {
    width: 100vh;
    transition: 2s;
  }

  .welcom {
    /* code margin-left: 0; ด้านล่าง เป็นการกำหมดให้อยู่ "ด้านในจอ" พอดี ทางซ้าย */
    margin-left: 0;
    /* code ด้านล่าง เป็นการทำงานทั่วไป */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sign-in-welcom-content {
    height: auto;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0 9.9rem 0;
  }

  .welcom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcom-text img {
    width: 90vh;
    height: 100%;
    margin: 2rem 0 1rem 0;
  }
  .welcom-text h1 {
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.3;
    color: rgb(0, 0, 0);
    text-shadow: rgb(181, 181, 181) 1px 2px 2px;
  }
  .welcom-btn {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-go-to-staff,
  .btn-go-to-student {
    font-size: 5vh;
    margin: 0.25rem 0;
    padding: 5vh 15vh;
    width: 100%;
  }

  .student {
    /* code margin-left: +100vw; ด้านล่าง เป็นการกำหมดให้อยู่ "เลยจอ" ออกไป ทางขวา */
    margin-left: +100vh;
    /* code ด้านล่าง เป็นการทำงานทั่วไป */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .sign-in-student-content {
    position: relative;
    height: auto;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .btn-go-to-welcom-right img,
  .btn-go-to-welcom-left img {
    width: 100%;
    transition: 0.35s;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
  }
  .btn-go-to-welcom-right img:hover,
  .btn-go-to-welcom-left img:hover {
    width: 80%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .btn-go-to-welcom-right,
  .btn-go-to-welcom-right:hover {
    position: relative;
    width: 12%;
    float: right;
    /* margin: -90.5vh 1rem 0 0; */
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
  .btn-go-to-welcom-left,
  .btn-go-to-welcom-left:hover {
    position: relative;
    width: 12%;
    float: left;
    /* margin: -90.5vh 0 0 1rem; */
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

  .staff {
    /* code margin-left: -100vw; ด้านล่าง เป็นการกำหมดให้อยู่ "เลยจอ" ออกไป ทางซ้าย */
    margin-left: -100vh;
    /* code ด้านล่าง เป็นการทำงานทั่วไป */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .sign-in-staff-content {
    position: relative;
    height: auto;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

/* จอแนวตั้ง จอมือถือ */
@media only screen and (max-width: 720px) and (orientation: portrait) {
  .slider {
    width: 100vw;
    height: 100%;
  }
  .slides {
    width: 300vw;
    display: flex;
  }
  .slide {
    width: 100vw;
    transition: 2s;
  }
  .staff {
    /* code margin-left: -100vw; ด้านล่าง เป็นการกำหมดให้อยู่ "เลยจอ" ออกไป ทางซ้าย */
    margin-left: -100vw;
    /* code ด้านล่าง เป็นการทำงานทั่วไป */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .welcom {
    /* code margin-left: 0; ด้านล่าง เป็นการกำหมดให้อยู่ "ด้านในจอ" พอดี ทางซ้าย */
    margin-left: 0;
    /* code ด้านล่าง เป็นการทำงานทั่วไป */
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .student {
    /* code margin-left: +100vw; ด้านล่าง เป็นการกำหมดให้อยู่ "เลยจอ" ออกไป ทางขวา */
    margin-left: +100vw;
    /* code ด้านล่าง เป็นการทำงานทั่วไป */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .welcom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcom-text img {
    width: 90vw;
    height: 100%;
    margin: 2rem 0 1rem 0;
  }
  .welcom-text h1 {
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.3;
    color: rgb(0, 0, 0);
    text-shadow: rgb(181, 181, 181) 1px 2px 2px;
  }
  .welcom-btn {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sign-in-staff-content {
    position: relative;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .sign-in-welcom-content {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0 5rem 0;
  }
  .sign-in-student-content {
    position: relative;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .btn-go-to-staff,
  .btn-go-to-student {
    font-size: 5vw;
    margin: 0.25rem 0;
    padding: 5vw 15vw;
    width: 100%;
  }
  .btn-go-to-welcom-right img,
  .btn-go-to-welcom-left img {
    width: 100%;
    transition: 0.35s;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
  }
  .btn-go-to-welcom-right img:hover,
  .btn-go-to-welcom-left img:hover {
    width: 80%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .btn-go-to-welcom-right,
  .btn-go-to-welcom-right:hover {
    position: relative;
    width: 12%;
    float: right;
    /* margin: -90.5vh 1rem 0 0; */
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
  .btn-go-to-welcom-left,
  .btn-go-to-welcom-left:hover {
    position: relative;
    width: 12%;
    float: left;
    /* margin: -90.5vh 0 0 1rem; */
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
}


