@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
* {
    font-family: 'Bayon', sans-serif !important;
}

nav .branding {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .list-items-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#hamburger-menu {
    display: none;
}

nav .list-items ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #ecf0f1;
    text-transform: uppercase;
    padding: 4px 0;
    transition: 0.5s;
}

nav ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: rgb(255, 166, 0);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.active-link {
    border-bottom: 3px solid rgb(255, 166, 0);
}

nav ul li a:hover {
    color: #858585;
    cursor: pointer;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav .list-items ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    margin-left: 0.5rem;
    color: rgb(255, 255, 255);
    margin: 0;
}

nav .list-items ul li span {
    color: rgb(255, 166, 0);
}

nav .list-items ul li button {
    border: 2px solid rgb(255, 166, 0);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 166, 0);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

nav .list-items ul li button:hover {
    background-color: rgb(255, 166, 0);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

hr {
    color: rgb(165, 165, 165);
    height: 0.5px;
}

.nav-wrapper nav {
    width: 100%;
}

@media screen and (max-width: 760px) and (orientation: portrait) {
    nav .list-items ul {
        flex-wrap: wrap;
    }
    nav .list-items ul li {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding: 0.5rem 0 !important;
        font-size: 1.5rem !important;
    }
    nav .list-items ul li button {
        padding: 1rem 5rem !important;
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 959px) and (orientation: portrait) {
    .bg-header {
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 100%;
    }
    nav {
        top: 0;
        background-color: rgb(18, 2, 90);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        display: flex;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav .branding {
        height: 100%;
        width: 70%;
    }
    nav .branding img {
        width: 100%;
        height: 100%;
        margin: 1.5rem 0;
    }
    #hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-left: 1rem;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #hamburger-menu input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }
    #hamburger-menu span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    #hamburger-menu span:first-child {
        transform-origin: 0% 0%;
    }
    #hamburger-menu span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #hamburger-menu input:checked~span {
        opacity: 1;
        transform: rotate(-45deg) translate(0px, -2px);
        background: rgb(255, 166, 0);
        -webkit-transform: rotate(-45deg) translate(0px, -2px);
        -moz-transform: rotate(-45deg) translate(0px, -2px);
        -ms-transform: rotate(-45deg) translate(0px, -2px);
        -o-transform: rotate(-45deg) translate(0px, -2px);
    }
    #hamburger-menu input:checked~span:nth-last-child(3) {
        opacity: 1;
        transform: rotate(45deg) translate(0px, -2px);
        background: rgb(255, 166, 0);
        -webkit-transform: rotate(45deg) translate(0px, -2px);
        -moz-transform: rotate(45deg) translate(0px, -2px);
        -ms-transform: rotate(45deg) translate(0px, -2px);
        -o-transform: rotate(45deg) translate(0px, -2px);
    }
    #hamburger-menu input:checked~span:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    nav .list-items ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5rem 0 1.5rem 0;
        margin-left: -200%;
        margin-top: -100%;
        transform: translate(-100%, 0);
        transition: margin-top 1s ease-in-out;
        -webkit-transition: margin-top 1s ease-in-out;
        -moz-transition: margin-top 1s ease-in-out;
        -ms-transition: margin-top 1s ease-in-out;
        -o-transition: margin-top 1s ease-in-out;
        -webkit-transform: translate(-100%, 0);
        -moz-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        -o-transform: translate(-100%, 0);
    }
    .active-menu {
        margin-top: 0 !important;
        margin-left: 0 !important;
        transition: margin-left 1s ease-in-out !important;
        -webkit-transition: margin-left 1s ease-in-out !important;
        -moz-transition: margin-left 1s ease-in-out !important;
        -ms-transition: margin-left 1s ease-in-out !important;
        -o-transition: margin-left 1s ease-in-out !important;
        transform: translate(0, 0) !important;
        -webkit-transform: translate(0, 0) !important;
        -moz-transform: translate(0, 0) !important;
        -ms-transform: translate(0, 0) !important;
        -o-transform: translate(0, 0) !important;
    }
    nav .list-items ul li {
        font-size: 1.5rem;
        padding: 0 1rem;
    }
    nav .list-items ul li button {
        font-size: 1.5rem;
        padding: 0.8rem 1.8rem;
    }
}

@media screen and (max-width: 959px) and (orientation: landscape) {
    .bg-header {
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 100%;
    }
    nav {
        top: 0;
        background-color: rgb(18, 2, 90);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        display: flex;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav .branding {
        height: 100%;
        width: 100%;
    }
    nav .branding img {
        width: 100%;
        height: 100%;
        margin-top: 1.5rem;
    }
    nav .list-items ul {
        flex-wrap: wrap;
    }
    nav .list-items {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5rem 0 1.5rem 0;
    }
    nav .list-items ul li {
        font-size: 1rem;
        padding: 0 0.3rem;
    }
    nav .list-items ul li button {
        padding: 0.7rem 1.5rem;
    }
}

@media screen and (min-width: 960px) and (orientation: portrait) {
    .bg-header {
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 100%;
    }
    nav {
        top: 0;
        background-color: rgb(6, 0, 94);
        height: 5.5rem;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        display: flex;
    }
    nav .branding {
        height: 100%;
        width: 100%;
    }
    nav .branding img {
        padding: 0.6rem;
        margin-left: 1rem;
        height: 100%;
    }
    nav .list-items ul {
        flex-wrap: wrap;
    }
    nav .list-items {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 1.5rem;
    }
    nav .list-items ul li {
        font-size: 1rem;
        padding: 0 0.3rem;
    }
    nav .list-items ul li button {
        padding: 0.7em 1.5rem;
    }
}

@media screen and (min-width: 960px) and (orientation: landscape) {
    .bg-header {
        background-color: rgb(255, 255, 255);
        height: 100vh;
        width: 100%;
    }
    nav {
        top: 0;
        background-color: rgb(6, 0, 94);
        height: 5.5rem;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        display: flex;
    }
    nav .branding {
        height: 100%;
        width: 100%;
    }
    nav .branding img {
        padding: 0.6rem;
        margin-left: 1rem;
        height: 100%;
    }
    nav .list-items {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1.5rem;
    }
    nav .list-items ul li {
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }
    nav .list-items ul li button {
        padding: 0.5em 1.5rem;
        font-size: 1.5rem;
    }
}