<div class="nav-wrapper">
    <nav class="nav-bar">
        <div class="branding">
            <img src="assets/imgs/logo-for-survey.png" alt>
        </div>
        <div *ngIf="isSigningIn$ | async as isSigningIn">
            <div class="list-items" [style.display]="isSigningIn ? 'flex' :'none'">
                <ul>
                    <li>
                        <p>charan@ru.ac.th</p>
                    </li>
                    <li>
                        <button (click)="signOut()">
                            <span>Logout</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>