.footer {
  height: auto;
  width: 100%;
  bottom: 0;
  padding: 3rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(18, 2, 90);
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.25) 0px -12px 30px, rgba(0, 0, 0, 0.25) 0px 4px 6px,
    rgba(0, 0, 0, 0.25) 0px 12px 13px, rgba(0, 0, 0, 0.25) 0px -3px 5px; */
}
.footer img {
  width: 15rem;
  margin-bottom: 1rem;
}
.footer p {
  margin: 0;
  color: #fff;
}

/* ผู้ใช่หมุนจอ */
@media only screen and (max-height: 398px) and (orientation: landscape) {
  .footer {
    width: 100vh;
    /* position: fixed; */
    bottom: 0;
  }
}

/* จอแนวตั้ง จอมือถือ */
@media only screen and (max-width: 720px) and (orientation: portrait) {
  .footer {
    width: 100vw;
    /* position: fixed; */
    bottom: 0;
  }
}
