* {
    outline: none;
}

::ng-deep hr {
    color: rgb(129, 129, 129);
    height: 0.5rem;
    margin-top: 2rem;
    width: 100%;
}

.dialog-header {
    top: 0;
    height: auto;
    padding: 1rem;
    background-color: rgb(18, 2, 90);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-btn-wrapper {
    flex-direction: row;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}

.container-btn {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.container-content {
    padding: 2rem 1rem 0 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-language {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 0.3rem 0 0 0;
    margin: 0;
    line-height: 1.3;
}

.container-content-select-language {
    padding: 2rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-select-thai,
.btn-select-eng {
    font-size: 1.3rem;
    width: 40%;
    padding: 1.2rem 2.2rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255, 145, 0);
    color: rgb(255, 145, 0);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin: 0.5rem;
}

.btn-select-thai:hover,
.btn-select-eng:hover,
.btn-select-thai:focus,
.btn-select-eng:focus,
.select-this {
    background-color: rgb(18 2 90);
    border: 2px solid rgb(18 2 90);
    color: rgb(255 255 255);
    font-size: 1.4rem;
    box-shadow: rgb(26 0 255 / 42%) 3px 3px 5px;
}

.btn-ok {
    font-size: medium;
    padding: 0.6rem 2.2rem;
    margin: 0 0.2rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(18, 2, 90);
    color: rgb(18, 2, 90);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.btn-ok:hover {
    background-color: rgb(18, 2, 90);
    color: rgb(255, 255, 255);
    box-shadow: rgb(125 124 124) 0px 3px 8px;
}

.btn-ok:disabled {
    opacity: 0;
}

.btn-cancel {
    font-size: medium;
    margin: 0 0.2rem;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255, 145, 0);
    color: rgb(255, 145, 0);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.btn-cancel:hover {
    background-color: rgb(255, 145, 0);
    color: rgb(255, 255, 255);
    box-shadow: rgb(125 124 124) 0px 3px 8px;
}

.btn-cancel:disabled {
    opacity: 0;
}

@media screen and (max-width: 959px) and (orientation: portrait) {
     ::ng-deep .cdk-overlay-pane {
        max-width: 95vw !important;
        pointer-events: auto !important;
        position: static !important;
    }
     ::ng-deep .mat-dialog-container {
        display: block;
        padding: 0 !important;
        border-radius: 4px;
        box-sizing: border-box;
        overflow: auto;
        outline: 0;
        min-height: inherit;
        max-height: inherit;
    }
    img {
        width: 30%;
        height: 100%;
    }
    h1 {
        padding: 0.3rem 0 0 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
    }
    .container-content {
        padding: 2rem 1rem 0 1rem;
    }
    .container-btn-wrapper {
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    p {
        font-size: 1rem;
        padding: 0.3rem 0 0 0;
        margin: 0;
        line-height: 1.3;
    }
    .p-language {
        font-size: 3.6vw;
    }
    .btn-select-thai,
    .btn-select-eng {
        width: 90%;
    }
    .container-btn {
        margin-right: -1.5rem;
    }
    .btn-ok:disabled {
        margin-right: -12rem;
    }
}

@media screen and (max-width: 959px) and (orientation: landscape) {
     ::ng-deep .cdk-overlay-pane {
        max-width: 80vw !important;
        max-height: 100% !important;
        pointer-events: auto !important;
        position: static !important;
    }
     ::ng-deep .mat-dialog-container {
        display: block;
        padding: 0 !important;
        border-radius: 4px;
        box-sizing: border-box;
        overflow: auto;
        outline: 0;
        min-height: inherit;
        max-height: inherit;
    }
    img {
        width: 20%;
        height: 100%;
    }
    h1 {
        padding: 0.3rem 0 0 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
    }
    .container-content,
    .container-content-select-language {
        padding: 2rem 1rem 0 1rem;
    }
    .container-content-select-language {
        margin: -1rem 0 -3rem 0;
    }
    p {
        font-size: 1rem;
        padding: 0.3rem 0 0 0;
        margin: 0;
        line-height: 1.3;
    }
    .btn-select-thai,
    .btn-select-eng {
        width: 50%;
        padding: 0.2rem 2.2rem;
    }
    .btn-ok:disabled {
        margin-right: -4.5rem;
    }
}

@media screen and (min-width: 960px) and (orientation: portrait) {
     ::ng-deep .cdk-overlay-pane {
        max-width: 50vw !important;
        pointer-events: auto !important;
        position: static !important;
    }
     ::ng-deep .mat-dialog-container {
        display: block;
        padding: 0 !important;
        border-radius: 4px;
        box-sizing: border-box;
        overflow: auto;
        outline: 0;
        min-height: inherit;
        max-height: inherit;
        align-items: center;
        justify-content: center;
    }
    img {
        width: 30%;
        height: 100%;
    }
    h1 {
        padding: 0.3rem 0 0 0;
        margin: 0;
        font-size: 1.4rem;
        font-weight: 400;
        color: #fff;
    }
    .container-content,
    .container-content-select-language {
        padding: 2rem 1rem 0 1rem;
    }
    p {
        font-size: 1.15rem;
        padding: 0 0 0 1rem;
        margin: 0;
        line-height: 1.3;
    }
    .container-btn-wrapper {
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .container-btn {
        margin-right: -1.5rem;
    }
    .btn-ok:disabled {
        margin-right: -19rem;
    }
}

@media screen and (min-width: 960px) and (orientation: landscape) {
     ::ng-deep .cdk-overlay-pane {
        max-width: 50vw !important;
        pointer-events: auto !important;
        position: static !important;
    }
     ::ng-deep .mat-dialog-container {
        display: block;
        padding: 0 !important;
        border-radius: 4px;
        box-sizing: border-box;
        overflow: auto;
        outline: 0;
        min-height: inherit;
        max-height: inherit;
        align-items: center;
        justify-content: center;
    }
    img {
        width: 30%;
        height: 100%;
    }
    h1 {
        padding: 0.3rem 0 0 0;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 400;
        color: #fff;
    }
    .container-content,
    .container-content-select-language {
        padding: 2rem 1rem 0 1rem;
    }
    p {
        font-size: 1.5vw;
        padding: 0.5rem 0 0 1rem;
        margin: 0;
        line-height: 1.3;
    }
    .btn-ok:disabled {
        margin-right: -4.5rem;
    }
}