<div class="wrapper">
    <div class="header-wrapper">
        <div class="header-inside">
            <div class="header-logo-img">
                <img id="logo-img" class="logo-img" src="assets/imgs/logo-for-survey-welcom-blue.png">
            </div>
            <div class="header-content-1">
                <p class="header-content-text-1">{{header['HEADER_CONTENT_TH']}}</p>
            </div>
            <div class="header-content-2">
                <div>
                    <p class="header-content-text-direction-1">คำชี้แจง</p>
                    <p class="header-content-text-direction-2">&nbsp; {{header['HEADER_DIRECTION_TH']}}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div *ngFor="let part of part" class="part-wrapper">
        <div class="part-inside">
            <p class="part-content-text">{{part.PART_CONTENT_TH}}</p>
        </div>
    </div>

</div>