* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

hr {
    height: 0.1rem !important;
    /* margin: 2.5rem 0 !important; */
}


/*👉input[type="radio"],
input[type="checkbox"] {
    margin-right: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
}👈*/

@media (max-width: 767px) {
    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 0.3rem;
        width: 1.1rem;
        height: 1.1rem;
    }
    .section-btn-submit {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .btn-submit {
        width: 40%;
        padding: 0.6rem 2.2rem;
        margin: 0 0.2rem;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid rgb(18, 2, 90);
        color: rgb(18, 2, 90);
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
    .submit-text-warning-invalid {
        color: rgb(255 0 0);
        font-weight: bold;
    }
    .btn-submit:hover {
        background-color: rgb(18, 2, 90);
        color: rgb(255, 255, 255);
        box-shadow: rgb(125 124 124) 0px 3px 8px;
    }
    .btn-submit:disabled {
        background-color: rgb(120 120 120);
        border: 2px solid rgb(120 120 120);
        color: rgb(255 255 255);
    }
    .start-red::after {
        content: '*';
        color: rgb(175, 0, 0);
        font-weight: bold;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 1rem;
        padding: 0;
        line-height: 2;
    }
    .logo-img {
        width: 50vw;
    }
    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .header-h1-1 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .header-h1-1-text {
        font-weight: 400;
        line-height: 1.4;
        margin: 0 1rem;
        text-align: center;
        font-size: 0.8rem;
    }
    .header-h1-2 {
        display: flex;
        flex-direction: column;
    }
    .header-h1-2 #direction-1 {
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 1.5rem;
        margin-bottom: 0.2rem;
        text-decoration-line: underline;
        text-decoration-style: double;
        -moz-text-decoration-line: underline;
        -moz-text-decoration-style: double;
    }
    .header-h1-2 #direction-2 {
        font-size: 0.8rem;
        line-height: 1.4;
        text-align: justify;
        margin: 0;
    }
    hr {
        margin: 1rem 0 !important;
    }
    input {
        border: none;
        border-bottom: 2px solid rgb(84 84 84);
        outline: none;
        text-align: center;
        width: 75vw;
    }
    input:hover,
    input:focus {
        border-bottom: 2px solid rgb(255 166 0);
    }
    .part-text {
        font-weight: 500;
    }
    .article-wrapper {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .article-input {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article-input-radio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    /* ------ ตอนที่ 1 ----- */
    .article-content-outside-wrapper {
        display: flex;
        flex-direction: row;
    }
    label {
        margin-right: 0.1rem;
    }
    .article-content-inside-wrapper {
        display: flex;
        flex-direction: column;
    }
    .article-content-1-1,
    .article-content-1-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
    }
    .article-input-wrapper-1-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 0 0.3rem 0 0;
    }
    .article-content-wrapper-1-3 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem 0 0 2rem;
    }
    .article-content-wrapper-1-3 span {
        margin: 0 0 0 1rem;
    }
    .article-input-text-1-3 {
        display: flex;
        margin: 0 0 1rem 0;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article-content-1-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    .article-content-p-1-4 {
        margin: 0 0 0 1rem;
    }
    .article-content-choice-wrapper-1-4 {
        margin: 0 0 0 3rem;
    }
    .article-content-wrapper-1-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
    .article-content-wrapper-1-4 span {
        margin-right: 0.5rem;
    }
    .article-text-wrapper-1-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article-text-content-1-4 {
        margin: 0 0 1rem 0;
    }
    .article-content-1-5 {
        margin-right: 1rem;
    }
    .article-input-choice-1-5,
    .article-input-choice-1-11,
    .article-input-choice-1-12,
    .article-input-choice-2-1,
    .article-input-choice-2-2,
    .article-input-choice-4-2 {
        margin-left: 2rem;
    }
    /* ------ ตอนที่ 2 ----- */
    .article-content-2-4,
    .article-content-2-5 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article-content-2-5 label {
        margin: 0 1rem 0 0;
    }
    .article-content-2-5 p {
        margin: 0 1rem 0 0;
    }
    .article-text-wrapper-2-5 {
        margin: 0 0 1rem 0;
    }
    /* ------ ตอนที่ 5 ----- */
    .article-wrapper-5-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
    }
    .article-content-wrapper-5-1-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
    }
    .article-input-choice-5-1-1,
    .article-input-choice-5-1-2 {
        margin-left: 2rem;
    }
    .article-content-5-5 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
    }
    /* ------ ตอนที่ 6 ----- */
    #article-6-1,
    #article-6-2 {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        flex-direction: row;
    }
    #article-6-3,
    .article-text-choice-6-3 {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    .article-text-choice-6-3 {
        margin-left: 3rem;
    }
    #article-text-6-3-1,
    #article-text-6-3-2,
    #article-text-6-3-3,
    #article-text-6-3-4,
    #article-text-6-3-5 {
        width: 1rem;
    }
    #article-8 {
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }
}


/* ----------------------------------------------------------------------------------------- */

@media (min-width: 768px) {}


/* ----------------------------------------------------------------------------------------- */

@media (max-width: 959px) {}


/* ----------------------------------------------------------------------------------------- */

@media (min-width: 960px) {
    /*👉    .section-btn-submit {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .btn-submit {
        width: 40%;
        font-size: 1.5rem;
        padding: 0.6rem 2.2rem;
        margin: 0 0.2rem;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid rgb(18, 2, 90);
        color: rgb(18, 2, 90);
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
    .submit-text-warning-invalid {
        color: rgb(255 0 0);
        font-size: 1.2rem;
        font-weight: bold;
    }
    .btn-submit:hover {
        background-color: rgb(18, 2, 90);
        color: rgb(255, 255, 255);
        box-shadow: rgb(125 124 124) 0px 3px 8px;
    }
    .btn-submit:disabled {
        background-color: rgb(120 120 120);
        border: 2px solid rgb(120 120 120);
        color: rgb(255 255 255);
    }
    .start-red::after {
        content: '*';
        color: rgb(175, 0, 0);
        font-weight: bold;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        padding: 3rem 12rem 2rem 12rem;
        line-height: 2;
    }
    .logo-img {
        width: 10vw;
    }
    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .header-h1-1 h1 {
        font-weight: 600;
        font-size: 1.8rem;
        width: 766px;
        ➡ padding: 2rem 11rem 0 11rem; ⬅
        text-align: center;
    }
    .header-h1-2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: justify;
    }
    .header-h1-2 #direction-1 {
        width: 10%;
        text-decoration-line: underline;
        text-decoration-style: double;
        -moz-text-decoration-line: underline;
        -moz-text-decoration-style: double;
    }
    .header-h1-2 #direction-2 {
        width: 90%;
    }
    input {
        border: none;
        border-bottom: 2px solid rgb(84 84 84);
        outline: none;
        text-align: center;
    }
    input:hover,
    input:focus {
        border-bottom: 2px solid rgb(255 166 0);
    }
    .part {
        font-size: 1.5rem;
    }
    .part-text h1 {
        font-weight: bold;
    }
    .article-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 0 0 3rem;
    }
    .article-input {
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article-input-radio {
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    ➡ ------ ตอนที่ 1 ----- ⬅
    #article-1-1,
    #article-1-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    #article-text-1-1-3,
    #article-text-1-1-4,
    #article-text-1-1-5,
    #article-text-1-3-1,
    #article-text-1-3-4,
    #article-text-1-3-11 {
        width: 5rem;
    }
    #article-text-1-1-6 {
        width: 40rem;
    }
    .article-content-1-1,
    .article-content-1-2 {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 1rem 0 0 2rem;
        padding: 0;
    }
    .article-input-wrapper-1-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 0 1rem 0 1rem;
    }
    #article-1-3 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .article-content-wrapper-1-3 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem 0 0 2rem;
    }
    .article-content-wrapper-1-3 span {
        margin: 0 0 0 1rem;
    }
    .article-input-text-1-3 {
        display: flex;
        margin: 0 0 1rem 0;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #article-input-1-2 {
        margin-right: 0.5rem !important;
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
    #article-text-1-2-1,
    #article-text-1-2-2 {
        width: 26rem;
    }
    #article-text-1-2-3 {
        width: 12rem;
    }
    #article-text-1-2-5 {
        width: 5rem;
    }
    #article-1-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .article-content-1-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    .article-content-p-1-4 {
        margin: 0 0 0 1rem;
    }
    .article-content-choice-wrapper-1-4 {
        margin: 0 0 0 3rem;
    }
    .article-content-wrapper-1-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
    .article-content-wrapper-1-4 span {
        margin-right: 0.5rem;
    }
    .article-text-wrapper-1-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article-text-content-1-4 {
        margin: 0 0 1rem 0;
    }
    #article-1-5,
    #article-1-6,
    #article-1-7,
    #article-1-8,
    #article-1-9,
    #article-1-10,
    #article-1-11,
    #article-2-1,
    #article-2-2,
    #article-2-3,
    #article-2-4,
    #article-2-5,
    #article-2-6,
    #article-2-7,
    #article-2-8,
    #article-3-1,
    #article-3-2,
    #article-3-3,
    #article-3-4,
    #article-3-5,
    #article-4-1,
    #article-4-2,
    #article-5-1,
    #article-5-2,
    #article-5-3,
    #article-5-4,
    #article-5-5 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
    }
    #article-1-5 label,
    #article-1-6 label,
    #article-1-7 label,
    #article-1-8 label,
    #article-1-9 label,
    #article-1-10 label,
    #article-1-11 label,
    #article-2-1 label,
    #article-2-2 label,
    #article-2-3 label,
    #article-2-5 label,
    #article-2-6 label,
    #article-2-7 label,
    #article-2-8 label,
    #article-3-1 label,
    #article-3-2 label,
    #article-3-3 label,
    #article-3-4 label,
    #article-3-5 label,
    #article-4-1 label,
    #article-4-2 label,
    #article-5-1 label,
    #article-5-2 label,
    #article-5-3 label,
    #article-5-4 label,
    #article-5-5 label,
    #article-6-1 label,
    #article-6-2 label,
    #article-6-3 label {
        margin-right: 1rem;
    }
    .article-content-1-5 {
        margin-right: 1rem;
    }
    .article-input-choice-1-5,
    .article-input-choice-1-11,
    .article-input-choice-1-12,
    .article-input-choice-2-1,
    .article-input-choice-2-2,
    .article-input-choice-4-2 {
        margin-left: 2rem;
    }
    ➡ ------ ตอนที่ 2 ----- ⬅
    .article-content-2-4,
    .article-content-2-5 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article-content-2-5 label {
        margin: 0 1rem 0 0;
    }
    .article-content-2-5 p {
        margin: 0 1rem 0 0;
    }
    .article-text-wrapper-2-5 {
        margin: 0 0 1rem 0;
    }
    ➡ ------ ตอนที่ 5 ----- ⬅
    .article-wrapper-5-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
    }
    .article-content-wrapper-5-1-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
    }
    .article-input-choice-5-1-1,
    .article-input-choice-5-1-2 {
        margin-left: 2rem;
    }
    .article-content-5-5 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
    }
    ➡ ------ ตอนที่ 6 ----- ⬅
    #article-6-1,
    #article-6-2 {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        flex-direction: row;
    }
    #article-6-3,
    .article-text-choice-6-3 {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    .article-text-choice-6-3 {
        margin-left: 3rem;
    }
    #article-8 {
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }👈*/
}