* {
    outline: none;
}

::ng-deep hr {
    color: rgb(129, 129, 129);
    height: 0.5rem;
    margin-top: 2rem;
    width: 100%;
}

.disclosure-wrapper-content {
    overflow: scroll;
    height: 60vh;
}

b {
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
}

#check_confirm {
    transform: scale(1.6);
}

#is_confirm {
    cursor: pointer;
}

.disclosure-dialog-header {
    top: 0;
    height: auto;
    padding: 1rem;
    background-color: rgb(6, 0, 94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disclosure-container-btn-wrapper {
    flex-direction: row;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}

.disclosure-container-btn {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.disclosure-container-content {
    padding: 2rem 1rem 0 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.disclosure-select-this {
    background-color: rgb(23 251 174);
    border: 2px solid rgb(23 251 174);
    color: rgb(6, 0, 94);
    font-size: 1.4rem;
    box-shadow: rgb(125 124 124) 0px 3px 8px;
}

.disclosure-btn-ok {
    font-size: medium;
    padding: 0.6rem 2.2rem;
    margin: 0 0.2rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(6, 0, 94);
    color: rgb(6, 0, 94);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.disclosure-btn-ok:hover {
    background-color: rgb(6, 0, 94);
    color: rgb(255, 255, 255);
    box-shadow: rgb(125 124 124) 0px 3px 8px;
}

.disclosure-btn-ok:disabled {
    opacity: 0;
}

.disclosure-btn-ok-is-Confirm,
.disclosure-btn-ok-is-Confirm:disabled {
    font-size: medium;
    padding: 0.6rem 2.2rem;
    margin: 0 0.2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(109, 109, 109);
    color: rgb(41, 41, 41);
    cursor: default;
}

.disclosure-btn-ok-is-Confirm:hover,
.disclosure-btn-ok-is-Confirm:disabled:hover {
    border: 2px solid rgb(209, 209, 209);
    color: rgb(121, 121, 121);
    background-color: rgb(209, 209, 209);
    box-shadow: rgba(255, 255, 255, 0) 0px 3px 8px;
    cursor: no-drop;
}

.disclosure-btn-cancel {
    font-size: medium;
    margin: 0 0.2rem;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255, 145, 0);
    color: rgb(255, 145, 0);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.disclosure-btn-cancel:hover {
    background-color: rgb(255, 145, 0);
    color: rgb(255, 255, 255);
    box-shadow: rgb(125 124 124) 0px 3px 8px;
}

.disclosure-btn-cancel:disabled {
    opacity: 0;
}

@media screen and (max-width: 959px) and (orientation: portrait) {
     ::ng-deep .cdk-overlay-pane {
        max-width: 99vw !important;
        pointer-events: auto !important;
        position: static !important;
    }
     ::ng-deep .mat-dialog-container {
        display: block;
        padding: 0 !important;
        border-radius: 4px;
        box-sizing: border-box;
        overflow: auto;
        outline: 0;
        min-height: inherit;
        max-height: inherit;
    }
    img {
        width: 30%;
        height: 100%;
    }
    h1 {
        padding: 0.3rem 0 0 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
    }
    .disclosure-container-content {
        padding: 2rem 1rem 0 1rem;
    }
    .disclosure-container-btn-wrapper {
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    p {
        font-size: 1rem;
        padding: 0.3rem 0 0 0;
        margin: 0;
        line-height: 1.3;
    }
    .disclosure-container-btn {
        margin-right: -1.5rem;
    }
    .disclosure-btn-ok:disabled {
        margin-right: -12rem;
    }
}

@media screen and (max-width: 959px) and (orientation: landscape) {
     ::ng-deep .cdk-overlay-pane {
        max-width: 80vw !important;
        max-height: 100% !important;
        pointer-events: auto !important;
        position: static !important;
    }
     ::ng-deep .mat-dialog-container {
        display: block;
        padding: 0 !important;
        border-radius: 4px;
        box-sizing: border-box;
        overflow: auto;
        outline: 0;
        min-height: inherit;
        max-height: inherit;
    }
    img {
        width: 20%;
        height: 100%;
    }
    h1 {
        padding: 0.3rem 0 0 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
    }
    .disclosure-container-content {
        padding: 2rem 1rem 0 1rem;
    }
    p {
        font-size: 1rem;
        padding: 0.3rem 0 0 0;
        margin: 0;
        line-height: 1.3;
    }
    .disclosure-btn-ok:disabled {
        margin-right: -4.5rem;
    }
}

@media screen and (min-width: 960px) and (orientation: portrait) {
     ::ng-deep .cdk-overlay-pane {
        max-width: 50vw !important;
        pointer-events: auto !important;
        position: static !important;
    }
     ::ng-deep .mat-dialog-container {
        display: block;
        padding: 0 !important;
        border-radius: 4px;
        box-sizing: border-box;
        overflow: auto;
        outline: 0;
        min-height: inherit;
        max-height: inherit;
        align-items: center;
        justify-content: center;
    }
    img {
        width: 20%;
        height: 100%;
    }
    h1 {
        padding: 0.3rem 0 0 0;
        margin: 0;
        font-size: 1.4rem;
        font-weight: 400;
        color: #fff;
    }
    .disclosure-container-content {
        padding: 2rem 1rem 0 1rem;
    }
    p {
        font-size: 1rem;
        padding: 0 0 0 1rem;
        margin: 0;
        line-height: 1.3;
    }
    .disclosure-container-btn-wrapper {
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .disclosure-container-btn {
        margin-right: -1.5rem;
    }
    .disclosure-btn-ok:disabled {
        margin-right: -19rem;
    }
}

@media screen and (min-width: 960px) and (orientation: landscape) {
     ::ng-deep .cdk-overlay-pane {
        max-width: 80vw !important;
        pointer-events: auto !important;
        position: static !important;
    }
     ::ng-deep .mat-dialog-container {
        display: block;
        padding: 0 !important;
        border-radius: 4px;
        box-sizing: border-box;
        overflow: auto;
        outline: 0;
        min-height: inherit;
        max-height: inherit;
        align-items: center;
        justify-content: center;
    }
    img {
        width: 20%;
        height: 100%;
    }
    h1 {
        padding: 0.3rem 0 0 0;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 400;
        color: #fff;
    }
    .disclosure-container-content {
        padding: 2rem 1rem 0 1rem;
    }
    #HEADER_1,
    #HEADER_2,
    #CONFIRM {
        font-size: 1.3rem;
        padding: 0 0 0 1rem;
        margin: 0;
        line-height: 1.3;
    }
    p {
        font-size: 1.2rem;
        padding: 0 0 0 1rem;
        margin: 0;
        line-height: 1.3;
    }
    .disclosure-btn-ok:disabled {
        margin-right: -4.5rem;
    }
}