<div class="sign-in-student-wrapper">
    <div class="sign-in-student-content">

        <div class="sign-in-presentation">
            <img src="assets/imgs/user-and-key.png">
            <h1>Sign in with Google</h1>
        </div>

        <div>
            <button (click)="signInWithGoogle()" class="">
                <img src="" alt="">
                Sign in with Google
            </button>
            <button (click)="signOut()" class="">
                <img src="" alt="">
                Sign out Google
            </button>
        </div>

    </div>
</div>